#post_detail{
    padding: 120px 0px;
    .post_detail_container{
        max-width: 1140px;
        margin: auto;
        .detail_content{
            padding: 20px;
            .detail_author{
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 20px;
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
            .post_img{
                img{

                }
            }
            h2{

            }
            .detail_content{
                p{

                }
            }
        }
    }
}